.users_part {
  padding-left: 280px;
  padding-right: 50px;
}
.adduser_part_users {
  padding-right: 50px;
}

.single_user {
  border-bottom: 1px solid #e9e9e9;
  .pic {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}

table {
  width: 100%;
  border: 0;
  font-size: 12px;
  color: #878787;
  font-weight: 400;

  .title_part {
    height: 54px;
    background-color: #f1f3f5;
    border-radius: 4px;
  }
  th {
    text-align: left;
    font-weight: 500;
    input {
      margin-left: 23px;
    }
  }
  .mail {
    color: #878787;
    font-size: 20px;
  }
  .trash {
    color: #f54745;
    background-color: transparent;
    border: none;
  }
  .disabled {
    width: 20px;
    height: 10px;
    margin-right: 20px;
  }
}
