header {
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 50px;
  border: 1px solid #E9E9E9;
  .headerIcons {
    font-size: 19.57px;
    color: #323332;
    margin-left: 36px;
  }
  .headerIcons.circle {
    position: relative;
    font-size: 20px;
    span {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
     
      position: absolute;
      top: -11px;
      right: -9px;
      font-size: 12px;
      text-align: center;
      color: #fff;
      padding-top: 2px;
    }
  }
  .bell>span{
    background-color: #407eff;
  }
  .mail>span{
    background-color: #FFAD00;
  }
  .message>span{
    background-color: #42229D;
  }
  .pic {
    background-color: #d8d8d8;
    height: 40px;
    width: 40px;
    margin-left: 36px;
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    span {
      position: absolute;
      bottom: 0px;
      right: 1px;
      height: 9px;
      width: 9px;
      background-color: #7bd500;
      border: 1px solid #fff;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}
